bin
__pycache__
*.pyc
*.d
*.o
*.ko
*.obj
*.elf
*.ghc
*.pch
*.lib
*.a
*.la
*.lo
*.out
*.hex
*.dSYM/
*.su
tags
build
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
ev.build
prof_output
ev
test
ping_pong
echo_server
ev_tcp_server
ev_tcp_server_stats
compile_commands.json
certs/
perf.txt
